@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&display=swap');
:root {
  --off-black: #1b2021;
  --off-white: #feffff;
  --primary-dark: #2b7a78;
}

body {
  color: var(--off-black);
  background: var(--off-white);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Alegreya', serif;
}
