.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  color: unset;
  display: block;
  padding: 1.25rem 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.title {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
}

.date {
  font-size: 90%;
  margin: 0;
}

.body {
  margin: 0.5rem 0;
  font-size: 110%;
}

.more {
  font-size: 90%;
  text-decoration: underline;
}
